
.frage {
  margin-bottom: 5px;
  color: #969696;
  line-height: 1.4rem;
}

.antwort {
  line-height: 1.4rem;
}

.paket {
  border: 3px solid #00a6bc;
  width: 460px;
  // height: 100%; 
  padding: 20px;
  margin-bottom: 20px;
}
