<div class="main">
  <h3>Confessions</h3>
  Die „Confessions“ waren ein im 19. Jahrhundert beliebtes Gesellschaftsspiel. Sie vermitteln Eindrücke über die jeweiligen Persönlichkeiten, die durch Abbildungen verstärkt werden. Jenny Marx führte ein solches „Confession Book“ von 1865 bis 1872. Auf unterhaltsame Weise geben die Fragebogen Einblick in die Privatsphäre der Familie Marx und verdeutlichen den Bekannten- und Freundeskreis.
  <br/>
  <button class="custom-button-main" mat-dialog-close>Zu den Fragebögen</button>
</div>
